.megPhoto{
    max-width: 50vw;
    max-height: 45vh;
    padding-right: 5vh;
}

.alongside{
    display: inline-flex;
    padding-bottom: 5vh;
}

.alongText{
    display: block;
    margin: auto;
}

.noShadow::after{
    content: none; 
}

.citations{
    display: flow-root;
    font-size: 15px;
    width: fit-content;
    margin: auto;
}

.cite{
    display: flex;
    line-height: 3ex;
    text-align: left;
}

.date{
    min-width: 150px;
    display: flex;
    font-weight: 600;
}

.cite_title{
    text-align: left;
    margin: 15px;
    margin-left: 150px;
    font-size: 20px;
    font-weight: bold;
}

.cite_block{
    max-width: 80%;
    width: fit-content;
}

.CV_write{
    font-size: 18px;
    text-align: justify;
    max-width: 80%;
    width: fit-content;
    padding-top: 30px;
}

.hr_style{
    width: 80%;
    margin: 50px;
}

.flower_spacer{
    background-image: url(/assets/images/flower/flower_dark.png);
    background-position: center;
    background-size: contain;
    position:relative;
    display: block;
    height:50px;
    width: 50px;
    margin-bottom: 100px;
}