/* ===========================
   digital_symbiote.html  (symbiote artwork page)
   Extends style.css
   =========================== */

body {
  background: black;
  overflow-y: scroll;
}

.explain-text {
  color: white;
  font-weight: 500;
  text-align: center;
  font-size: 20px;
  margin: 20px;
  text-decoration: none;
}

.justify-text {
  text-align: justify;
  text-align-last: center;
}

.center-video {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
