
/* rules to generally apply */
body{
  /* background-image: linear-gradient( pink, #eaeaff, white, white); */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* links */
a {
  cursor: pointer;
  font-weight: 700;
  text-decoration: none; 
}

/* thin outline to show container elements */
.outline {
  border:1px solid white;
}

/* tool to centralise multiple images */
.container{
  text-align: center;
  display: flex;
}

/* tool to centralise 1 image wide */
.centralise {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img {
  display: inline-block;
  height:100%;
  transition: opacity 1s, transform 1s;
}

#focus{
    height:100%;
}

#unfocus{
    margin: auto;
    opacity:50%;
}

/*navigation arrows*/
#arrow-left, #arrow-right {
    cursor: pointer;
    /* fill:#010101 */
    fill: white;
    stroke: black;
    stroke-width: 2px;
}

.arrow{
  margin: auto;
  padding: 10px;
  width: 500px;
}

.imageFocus{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

/* header navigation spacing */
.margin {
  margin-left: 5%;
  margin-right: 5%;
}

/* header navigation text*/
.home-links {
  display: inline-block;
  text-align: center;
  width: 130px;
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  font-weight: 700;
}

/* text */
#info{
  color: black;
  font-family:'anon';
  letter-spacing: 3px;
  line-height: 1.6;
  font-weight: 500;
  font-size: 16;
  text-decoration: none; 
  text-align: justify;
  text-align-last: center;
}

.infostyle{
  color: black;
  font-family:'anon';
  letter-spacing: 3px;
  line-height: 1.6;
  font-weight: 500;
  font-size: 16;
  text-decoration: none; 
  text-align: justify;
  text-align-last: center;
  margin: 0px;
  margin-left: 20%;
  margin-right: 20%;
}

.code{
  color: #73c991;
  background: black;
  font-size: 18px;
  text-align: center;
  font-family: 'anon';
}

.marginTop{
  margin-top:30px;
}

/* image sizing tools */
.quarter{
  width: 24%;
}
.smallThird{
  width: 30%;
}
.third{
  width: 33%;
}
.smallHalf{
  width: 40%;
}
.half{
  width: 49%;
}
.smallFull{
  width:90%;
}
.full{
  width:100%;
}

/* scaling tools for different devices */

/* phone */
@media only screen
  and (min-device-width: 320px) 
  and (max-device-width: 480px){
    .home-links{
      width: 200px;
      font-size: 50px;
    }
    .portfolio-spacer {
      margin-top: 4.16666%;
      margin-bottom: 4.16666%;
      margin-left: auto;
      margin-right: auto;
      max-width: 90%;
    }
    .portfolioBox{
      width: 350px;
      height: 490px;
    }
    .portfolioTextTwoline{
      width: 300px;
      font-size: 30px;
      width: 300px;
      height: 100px;
      line-height: 50px;
    }
    .portfolioTextOneline{
      width: 300px;
      font-size: 30px;
      height: 100px;
      line-height: 100px;
    }
    .quarter{
      width: 33%;
    }
    .smallThird{
      width: 40%;
    }
    .third{
      width: 49%;
    }
    .big-planet{
      width: 75%;
    }
    .smallHalf{
      width: 80%;
    }
    .half{
      width: 100%;
    }
}

@media prefers-reduced-motion{
  .img {
    transition: opacity 0s, transform 0s;
  }
}

/* vertical tablet */
@media only screen
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape){
}

/* horizontal tablet */
@media only screen
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait){
}

/* desktop */
@media screen
  and (min-device-width: 1200px){
}

/* widescreen desktop */
@media screen
  and (min-device-width: 1600px){
    .portfolio-spacer {
      margin-top: 4.16666%;
      margin-bottom: 4.16666%;
      margin-left: auto;
      margin-right: auto;
      max-width: 66.666667%;
    }
}

/* font */
@font-face{
  font-family: 'catull';
  src: url('/assets/fonts/catull/Catull.ttf') format('truetype');
  font-weight: 300;
}

/* font */
@font-face{
  font-family: 'anon';
  src:  url('/assets/fonts/anon-pro/anon-pro.ttf') format('truetype');
  font-weight: 300;
}


