
/* rules to generally apply */
body{
  margin: 0;
  padding: 0;
  font-family:'arlon';
  overflow-x: hidden;
}

/* links */
a, a {
  color: #ff4162;
  font-weight: 700;
  text-decoration: none; 
  display: inline-block;
}

a::after {
  display: block;
  position: inherit;
  content: attr(title);
  font-weight: 800;
  border: 1px solid black;
  height: 0px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
  margin-top: -0.78ex;
}

/* focus (mouse hover) */
a:hover,
a:focus{
  color: #ff284d;
  /* text-shadow: 1px 0px 0px #ff284d; */
  /* letter-spacing: 1px; */
  font-weight: 800;
  text-decoration: none;
}

/* thin outline to show container elements */
.outline {
  border:1px solid white;
}

/* tool to centralise multiple images */
.container{
  text-align: center;
}

.heightCap{
    max-height: 60vh;
}

/* tool to centralise 1 image wide */
.centralise {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.img {
  display: inline-block;
}

.roundimg {
  display: inline-block;
  border-radius: 50%;
}

.bubbleimg {
  width: 100px;
  height: 100px;
}

.centerVideo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width:90%;
}

/* non-homepage navigation bar styling */
.navigation{
  position:relative;
  height: 100px;
  z-index: 1;
  display: flex;
}

/* header navigation spacing */
.margin {
  margin-left: 1.5%;
  margin-right: 1.5%;
}

/* header navigation colouring*/
.pink{
  background: pink;
}

.paleBlue{
  background: #b7dbd4;
}

.innerFlower{
  top:0px
}

/* home button */
.flower{
  background-image: url(/assets/images/flower.png);
  position:relative;
  z-index: 2;
  height:100px;
  width:100px;
  background-position: center;
  background-size: contain;
  display: block;
}

.flower:hover, .flower:focus{
  background-image: url(/assets/images/flowerBold.png);
  position:relative;
  z-index: 2;
  height:100px;
  width:100px;
  background-position: center;
  background-size: contain;
}

/* header navigation text*/
.homelinks {
  display: inline-block;
  text-align: center;
  width: 130px;
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  font-weight: 700;
}

/* breather margins for image pages that need it */
.topMargin {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}
.topMarginOnly {
  margin-top: 1.5%;
}
.topMargin2 {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
.topMarginOnly2 {
  margin-top: 4.16666%;
}
.bottomMargin{
  margin-bottom: 10%;
}

/* breather margins for design portfolio homepage */
.portfolioSpacer {
  margin-top: 4.16666%;
  margin-bottom: 4.16666%;
  margin-left: auto;
  margin-right: auto;
  max-width: 83.333333%;
}

/* portfolio boxes styling */
.portfolioTextTwoline{
  display: inline-block;
  margin-top:30px;
  margin-left:auto;
  margin-right:auto;
  width: 160px;
  height: 50px;
  line-height: 25px;
  background: black;

  color: #FFFFFF;
  font-size: 18px;
  text-align:center;
}

.portfolioTextOneline{
  display: inline-block;
  margin-top:30px;
  margin-left:auto;
  margin-right:auto;
  width: 160px;
  height: 50px;
  line-height: 50px;
  background: black;

  color: #FFFFFF;
  font-size: 18px;
  text-align: center;
}

.portfolioBox{
  vertical-align: top;
  text-align: center;
  display: inline-block;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: 4.16666%;
  margin-right: 4.16666%;
  height: 350px;
  width: 250px;
}

/* text */
.text{
  color: black;
  font-weight: 500;
  text-align: center;
  font-size: 30;
  text-decoration: none; 
}

.explainText{
  color: white;
  font-weight: 500;
  text-align: center;
  font-size: 20;
  margin: 20px;
  text-decoration: none; 
}

.justifyText{
  text-align: justify;
  text-align-last: center;
}

.textSpacer{
  line-height: 3ex;
}

.saver, .threedsaver{
  position: fixed;
  padding: 20px;
  left: 10px;
  bottom: 10px;
  font-size: 30px;
  width: 150px;
  z-index:1000;
}

/*popup 2d version saver*/
.saver {
  font-weight: 400;
  background: none;
  color: white;
  border: solid;
}

.threedsaver {
  font-weight: 400;
  color: black;
  background: white;
  box-shadow: 0 0 0 1.3pt black;
}

.saver:hover, .saver:focus {
  background: black;
  color: white;
  font-weight: 400;
}

.threedsaver:hover, .threedsaver:focus {
  font-weight: 400;
  color: black;
  box-shadow: 0 0 0 4pt black;
}

.grabcursor{
  cursor: grab;
}

/*///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
///////////////////////  work portfolio  ////////////////////////
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////*/

 /* Tooltip container */
 .tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 45%;
  border: black solid 5px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -20px;
  border-width: 20px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  border-width: 12px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 

/* image sizing tools */
.quarter{
  width: 24%;
}
.smallThird{
  width: 30%;
}
.third{
  width: 33%;
}
.smallHalf{
  width: 40%;
}
.half{
  width: 49%;
}
.bigPlanet{
  width: 50%;
}
.smallFull{
  width:90%;
}
.full{
  width:100%;
}

.fullScreen{
  width:100%;
  height:100%;
  position: absolute;
  top:0px;
}

/*/////////////////////////////////////////////////////////
/////////////////////  what?? page  ///////////////////////
/////////////////////////////////////////////////////////*/

.megPhoto{
  max-width: 50vw;
  max-height: 45vh;
  padding-right: 5vh;
}

.alongside{
  display: inline-flex;
  padding-bottom: 5vh;
}

.alongText{
  display: block;
  margin: auto;
}

.noShadow::after{
  content: none; 
}

/*/////////////////////////////////////////////////////////
////////////////////////  slider  /////////////////////////
/////////////////////////////////////////////////////////*/

.slideContainer {
  position: fixed;
  left: 60%;
  transform: translateX(-50%);
  width: 70%;
  bottom: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  border-radius: 10px;
  outline: none;
  background: white;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  box-shadow: 0 0 0 3px black;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: none;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  border:none;
  width: 25px;
  height: 25px;
  background: none;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

/* scaling tools for different devices */

/* phone */
@media only screen
  and (min-device-width: 320px) 
  and (max-device-width: 480px){
    .homelinks{
      width: 200px;
      font-size: 50px;
    }
    .portfolioSpacer {
      margin-top: 4.16666%;
      margin-bottom: 4.16666%;
      margin-left: auto;
      margin-right: auto;
      max-width: 90%;
    }
    .portfolioBox{
      width: 350px;
      height: 490px;
    }
    .portfolioTextTwoline{
      width: 300px;
      font-size: 30px;
      width: 300px;
      height: 100px;
      line-height: 50px;
    }
    .portfolioTextOneline{
      width: 300px;
      font-size: 30px;
      height: 100px;
      line-height: 100px;
    }
    .quarter{
      width: 33%;
    }
    .smallThird{
      width: 40%;
    }
    .third{
      width: 49%;
    }
    .bigPlanet{
      width: 75%;
    }
    .smallHalf{
      width: 80%;
    }
    .half{
      width: 100%;
    }
}

/* vertical tablet */
@media only screen
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape){
}

/* horizontal tablet */
@media only screen
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait){
}

/* desktop */
@media screen
  and (min-device-width: 1200px){
}

/* widescreen desktop */
@media screen
  and (min-device-width: 1600px){
    .portfolioSpacer {
      margin-top: 4.16666%;
      margin-bottom: 4.16666%;
      margin-left: auto;
      margin-right: auto;
      max-width: 66.666667%;
    }
}

/* fonts */

/* ultralight font */
@font-face{
  font-family: 'arlon';
  src:  url('/assets/fonts/arlon-light/arlon-light.woff') format('woff'),
        url('/assets/fonts/arlon-light/arlon-light.woff2') format('woff2'),
        url('/assets/fonts/arlon-light/arlon-light.ttf') format('truetype'), 
        url('/assets/fonts/arlon-light/arlon-light.otf') format('opentype'); 
  font-weight: 300;
}

/* light font */
@font-face{
  font-family: 'arlon';
  src:  url('/assets/fonts/arlon-light/arlon-light.woff') format('woff'),
        url('/assets/fonts/arlon-light/arlon-light.woff2') format('woff2'),
        url('/assets/fonts/arlon-light/arlon-light.ttf') format('truetype'), 
        url('/assets/fonts/arlon-light/arlon-light.otf') format('opentype'); 
  font-weight: 500;
}

/* semibold font */
@font-face {
	font-family: 'arlon';
	src:  url('/assets/fonts/arlon-semibold/arlon-semibold.woff') format('woff'),
        url('/assets/fonts/arlon-semibold/arlon-semibold.woff2') format('woff2'),
        url('/assets/fonts/arlon-semibold/arlon-semibold.ttf') format('truetype'),
        url('/assets/fonts/arlon-semibold/arlon-semibold.otf') format('opentype');
	font-weight: 700;
}

/* ultrabold font */
@font-face {
	font-family: 'arlon';
	src:  url('/assets/fonts/arlon-ultrabold/arlon-ultrabold.woff') format('woff'),
        url('/assets/fonts/arlon-ultrabold/arlon-ultrabold.woff2') format('woff2'),
        url('/assets/fonts/arlon-ultrabold/arlon-ultrabold.ttf') format('truetype'),
        url('/assets/fonts/arlon-ultrabold/arlon-ultrabold.otf') format('opentype');
	font-weight: 900;
}

